div {
	font-family: sans-serif;
}

.errortxt {
	color: #FF0000;
}

#heading {
	font-size: 34px;
	text-align: center;
}

#status {
	font-size: 24;
	text-align: center;
}

#text2 {
	font-size: 24;
	text-align: center;
}

#report-link {
	font-size: 24;
	text-align: center;
}

#urlpbar {
	margin-left: auto;
	margin-right: auto;
	height: 1.0em;
	width: 425px;
}

#urlpbar-container .ui-widget-header {
	background: Orange;
}

div.btn {
	position: relative;
	border-left: 2px solid #909090;
	border-top: 2px solid #909090;
	border-right: 2px solid #505050;
	border-bottom: 2px solid #505050;
}

#exitbtnbar {
	text-align: center;
}

