/*
 *	Debugging styles
 */
div {
 /* border: 2px solid blue; */
}

span {
/* border: 2px solid red; */
}

/*
 *	Page containers (top to bottom)
 */
html {
background-color: #fcfcf5;
overflow: hidden;
}

#warningDiv {
margin-top: 16px;
float: left;
}

#divExit {
}

#titleBanner {
clear: both;
height: 60px;
}

#titleStripe {
position: relative;
top: 18px;
height: 34px;
background-color: #47571d;
overflow: hidden;
}

#title {
position: relative;
top: 5px;
font-family: Arial, sans-serif;
font-weight: 600;
font-size: 1.2em;
color: #f0f0f0;
text-align: right;
}

#clipboardImg {
position: relative;
float: right;
top: 5px;
height: 60px;
}

#content {
clear: both;
}

.loaderContent {
height: 14em;
}

#targetCategory, #targetGroup {
font-family: Arial, sans-serif;
font-weight: 600;
font-size: 1.2em;
color: #47571d;
text-align: left;
padding-bottom: 10px;
}

#selectCategory, #selectGroup {
margin-top: 2px;
font-family: Arial, sans-serif;
font-weight: 600;
font-size: 1.2em;
color: #47571d;
text-align: left;
padding-bottom: 2px;
}

#applyMetadata {
margin-top: 5px;
top: 5px;
font-family: Arial, sans-serif;
font-weight: 600;
font-size: 1.2em;
color: #47571d;
text-align: left;
padding: 2px;
}

#applyMetadata div {
margin-top: 5px;
font-size: .75em;
font-weight: 200;
}

#applyMetadata > div > input[type="text"] {
margin-left: 5px;
font-size: .75em;
width: 20em;
}

#dateLabel {
font-size: .75em;
color: #47571d;
width: 10em;
}

#docDate {
font-size: .6em;
}

/* Contains #queueTitle and #queueArea */
#divQueue {
width: 75%;
float: right;
}

#queueTitle {
top: 5px;
font-family: Arial, sans-serif;
font-weight: 600;
font-size: 1.2em;
color: #47571d;
text-align: center;
padding: 2px;
}

#queueArea {
/* height: 28em; */
height: 12em;
overflow: scroll;	/* handle scrollbar */
background-color: #fbf8e0;
border-top: 2px solid #505050;
border-left: 2px solid #505050;
border-right: 2px solid #909090;
border-bottom: 2px solid #909090;
}

#queueArea p {
font-family: sans-serif;
font-size: 1.4em;
font-weight: bold;
text-align: center;
}

#uploadQueue {
padding: 0;
margin: 0;
}

#uploadQueue li {
list-style-type: none;
height: 1.3em;
}

#divAlternateContent {
display: none;
}

/*
 *	Style for progressbar and text
 */
.ui-progressbar {
	height: 1.0em;
	width: 425px;
	margin-left: 16px;
	background: transparent;
	border: none;
}

.ui-progressbar-value {
	background: #CD8821;
	border: none;
}

.qname {
font-family: Arial, sans-serif;
}

.qContainer {
	position: relative;
}

.statusicon {
	position: absolute;
	width: 16px;
	left: 0;
	top: 0;
}

.cancelicon {
	position: absolute;
	width: 16px;
	right: 0;
	top: 0;
	z-index: 100;	/* Put on top */
}

.pblabel {
position: absolute;
left: 16px;

line-height: 1.1em;
text-align: left;
font-family: Arial, sans-serif;
font-size: .9em;
color: #47571d;
white-space: nowrap;
}

/*
 *	Style for modal dialogs
 */
.dialogTitle {
font-size: 1.4em;
text-align: center;
}

.modalDialog {
background: #e3dc98;
border-left: 2px solid #909090;
border-top: 2px solid #909090;
border-right: 2px solid #505050;
border-bottom: 2px solid #505050;
}

.modalDialog .ui-button {
border-left: 2px solid #909090;
border-top: 2px solid #909090;
border-right: 2px solid #505050;
border-bottom: 2px solid #505050;
}

.ui-dialog-buttonpane {
background: #e3dc98;
}

.modalDialog .ui-dialog-titlebar {
display: none;
}

/*
 *	Buttons and controls
 */

div.btn {
border-left: 2px solid #909090;
border-top: 2px solid #909090;
border-right: 2px solid #505050;
border-bottom: 2px solid #505050;
color: #47571d;
}

#fileSelectBtn {
position: relative;
top: 1em;
left: 1.1em;

width: 112px;
height: 47px;
padding: 0;
border-left: 2px solid #909090;
border-top: 2px solid #909090;
border-right: 2px solid #505050;
border-bottom: 2px solid #505050;
}

#fileSelectLabel {
position: absolute;
}

#spanButtonPlaceHolder {
position: absolute;
}

#startUploadBtn {
position: relative;
top: 2em;
left: 1em;
width: 112px;
}

#legend {
position: relative;
top: 3em;
left: .8em;
width: 120px;
border-top: 2px solid #909090;
border-left: 2px solid #909090;
border-right: 2px solid #505050;
border-bottom: 2px solid #505050;
}

#legend .ui-widget-header {
font-size: 1.2em;
text-align: center;
border: 0;
padding: 2px;
}

#legendContent div {
font-size: .7em;
padding: 2px;
}

#legendContent span {
float: left;
}

#urlUploadBtn {
float: left;
}

#exitBtn {
float: right;
}

#hiddenExitForm {
display: none;
}

#hiddenIFrame {
display: none;
}

/* Note: #urlUploader is *inside* div.urluploader */
.urluploader {
background-color: #ffffff;
background-image: none;	/* remove standard color swatch */
}

/* Turn off .ui-dialog-titlebar for URL uploader dialog */
.urluploader .ui-dialog-titlebar {
display: none;
}

#divURLUploader {
display: none;
}

#divURLUploader .dialogTitle {
font-weight: bold;
}

#divURLUploader hr {
height: 3px;
color: #47571d;
background-color: #47571d;
border: none;
}

#divURLUploader .header {
font-size: 1.2em;
font-weight: bold;
text-align: left;
}

#divURLUploader .body {
font-size: 1.2em;
text-align: left;
}

#divURLUploader form {
display: block;
text-align: center;
padding: 6px;
}
